<% provide(:title, 'Home') %>
<% provide(:lotto, (1..49).each.to_a.shuffle[1..6].sort.to_s) %>
<% provide(:euro_main, (1..50).each.to_a.shuffle[1..5].sort.to_s)%>
<% provide(:euro_stars, (1..11).each.to_a.shuffle[1..2].sort.to_s)%>


	<h1>Luck "E" Lotto HomePage</h1>
	<p>This is the winning lotto generating application</p>
	<p>The winning numbers for this weeks lotto are <%= yield(:lotto)%> </p>

	<h1>Luck "E" Euro numbers</h1>
	<p>The winning numbers for this weeks Euromillions are <%= yield(:euro_main)%> 
		with lucky stars <%= yield(:euro_stars)%> </p>

