<% provide(:title, @user.name)%>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @user.name %>
				<%= gravatar_for @user %>
			</h1> 
			<h2>Lala Laaar </h2>
			More shiz here!
		</section>
	</aside>
</div>
<%= @user.email %>

